<form action="/blogs/comments/<%=blog._id%>" method="post" class="w-[70vw] m-auto flex  justify-between">
    <input type="text" name="commentText" placeholder="Enter your view here" class="w-[85%] py-2 outline-none border-b-2 mb-5 capitalize">
    <button class="px-5 py-2 bg-black text-white rounded-[5px]">Add Comment</button>
</form>