<nav class="w-full px-10 py-10 flex justify-between items-center text-xl">
    <a href="/"><h2>SQUARESPACE</h2></a>
    <div class="flex gap-10">
        <a href="/blogs">Blogs</a>
        <a href="/create">Create Blogs</a>
        <a href="">Products</a>
    </div>
    <div class="flex gap-10">
        <a href="/users/login">Login</a>
        <a href="/profile">Profile</a>
    </div>
</nav>