<nav class="w-full p-10 flex justify-between items-center text-xl gap-10">
    <a href="/">Home</a>
    <div class="flex gap-10">
        <a href="/users/login">Login</a>
        <a href="/users/register">Register</a>
    </div>
</nav>