<%- include('./partials/header')%>

<div class="w-full h-screen relative">
  <img src="https://images.unsplash.com/photo-1613365891364-887bbfc9c723?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  alt="home Image" class="w-full h-full object-cover absolute z-[-1]">
  <div class="w-full h-full bg-white/20 backdrop-blur-[20px] text-white">
    <%- include('./partials/nav')%>
  

  <div class="w-full h-[85vh] flex p-10 w-full justify-between items-end">
    <div class="w-[35%] mb-[5%] text-white">
      <h2 class="text-7xl font-bold">Create A Blog</h2>
      <p class="text-xl pe-5 mt-5 font-bold">Share your story with the world. Create a beautiful, personalized blog that fits your brand. Grow your audience with built-in marketing tools, or transform your passion into revenue by gating access with a paywall.</p>
      <button class="px-10 py-4 text-xl font-bold bg-white text-black mt-5">Get Started</button>
    </div>
    <img src="https://media-www.sqspcdn.com/images/pages/tour/blogs/hero/foreground-desktop-1000w.jpg" alt="home image" class="w-[50%] h-[60vh] object-cover object-top">
  </div>
  </div>
</div>

<%- include('./partials/footer')%>